
<ion-tabs>
  <ion-header style="z-index: 0; text-align: center;">
    <ion-toolbar color="none">
      <ion-title> <h1>Piastre di grandi dimensioni</h1> </ion-title>
      <ion-buttons slot="end">
        <ion-button color="light" fill="solid" (click)="loginModal()">
          Anmelden
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="top" color="none">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Startseite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dishes">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Pizzas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team">
      <ion-icon name="people"></ion-icon>
      <ion-label>Personal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservation">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Reservation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <ion-icon name="location"></ion-icon>
      <ion-label>Standort</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>