<ion-content class="ion-text-center">
  <ion-text>
    <h1>
      {{language == 'de' ? 'Reservation' : 'Prenotazione'}}
    </h1>
  </ion-text>
  <ion-text>
    <h3>
      {{language == 'de' ? 'Reservieren jetzt einen Tisch' : 'Prenota un tavolo ora'}}
    </h3>
  </ion-text>
  <form class="ion-text-start" [formGroup]="reservationForm">
    <ion-grid>
      <ion-row>
        <ion-col offset="2" size="4">
          <ion-item>
            <ion-label position="floating">{{language == 'de' ? 'Vorname' : 'Nome'}}</ion-label>
            <ion-input
              formControlName="firstname"
              type="text"
              [class.invalid]="!reservationForm.controls.firstname.valid && (reservationForm.controls.firstname.dirty || submitAttempt)"
            ></ion-input>
          </ion-item>
          <ion-label
            class="errmsg"
            *ngIf="!reservationForm.controls.firstname.valid  && (reservationForm.controls.firstname.dirty || submitAttempt)"
          >
            {{language == 'de' ? 'Bitte tragen Sie einen gültigen Vornamen ein.' : 'Si prega di inserire un nome valido.'}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-range
            formControlName="count"
            color="success"
            snaps="true"
            min="1"
            max="20"
          >
            <ion-label slot="start">{{language == 'de' ? 'Anzahl Personen' : 'Numero di persone'}}</ion-label>
            <ion-label class="counter" slot="end">
              {{ reservationForm.controls.count.value }}
            </ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="2" size="4">
          <ion-item>
            <ion-label position="floating">{{language == 'de' ? 'Nachname' : 'Cognome'}}</ion-label>
            <ion-input
              formControlName="lastname"
              type="text"
              [class.invalid]="!reservationForm.controls.lastname.valid && (reservationForm.controls.lastname.dirty || submitAttempt)"
            ></ion-input>
          </ion-item>
          <ion-label
            class="errmsg"
            *ngIf="!reservationForm.controls.lastname.valid  && (reservationForm.controls.lastname.dirty || submitAttempt)"
          >
            {{language == 'de' ? 'Bitte tragen Sie einen gültigen Nachnamen ein.' : 'Si prega di inserire un cognome valido.'}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>{{language == 'de' ? 'Datum & Zeit' : 'Data e ora'}}</ion-label>
            <ion-datetime
              formControlName="datetime"
              displayFormat="D MMM YYYY H:mm"
              min="2020"
              max="2030"
              value="2020-06-17T11:06"
            ></ion-datetime>
          </ion-item>
          <ion-label
            class="errmsg"
            *ngIf="!reservationForm.controls.datetime.valid  && (reservationForm.controls.datetime.dirty || submitAttempt)"
          >
            {{language == 'de' ? 'Bitte tragen Sie ein Datum und eine Uhrzeit ein.' : 'Si prega di inserire data e ora.'}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="2" size="4">
          <ion-item>
            <ion-label position="floating">{{language == 'de' ? 'E-Mail' : 'E-mail'}}</ion-label>
            <ion-input
              formControlName="email"
              type="text"
              [class.invalid]="!reservationForm.controls.email.valid && (reservationForm.controls.email.dirty || submitAttempt)"
            ></ion-input>
          </ion-item>
          <ion-label
            class="errmsg"
            *ngIf="!reservationForm.controls.email.valid  && (reservationForm.controls.email.dirty || submitAttempt)"
          >
            {{language == 'de' ? 'Bitte tragen Sie eine gültige E-Mail ein.' : "Si prega di inserire un'e-mail valida."}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" (click)="save()">{{language == 'de' ? 'Reservieren' : 'Prenotazione'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<app-footer></app-footer>
