.errmsg {
    font-size: 0.8em;
    color: #ff0000;
}

.counter {
    font-size: large;
}

ion-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ion-col {
    padding-left: 1rem;
    padding-right: 1rem;
}

ion-range {
    padding: 0;
}