<ion-content class="ion-text-center">
  <ion-text><h1>{{language == 'de' ? 'Personal' : 'Personale'}}</h1></ion-text>
  <ion-text>
    <h3>
      {{language == 'de' ? 'Ihr Team, wenn Sie Ihren Hunger stillen möchten' : 'Il vostro team, se volete soddisfare la vostra fame'}}
    </h3>
  </ion-text>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let person of team">
      <ion-card style="height: auto">
        <img src="../../assets/team/{{person.image}}" />
        <ion-card-header>
          <ion-card-title>{{ person.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{language == 'de' ? person.role_de : person.role_it}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<app-footer></app-footer>
