<ion-content class="ion-text-center">
  <ion-text><h1>{{language == 'de' ? 'Pizzas' : 'Pizze'}}</h1></ion-text>
  <ion-text>
    <h3>
      {{language == 'de' ? 'Ihre Pizzas frisch und gross' : 'Le vostre pizze fresche e grandi'}}
    </h3>
  </ion-text>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let dish of dishes | async">
      <ion-card style="height: auto;">
        <img src="../../assets/dishes/{{dish.filename}}" />
        <ion-card-header>
          <ion-card-title>{{ dish.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{language == 'de' ? dish.zutaten_de : dish.zutaten_it}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<app-footer></app-footer>
